ul ul {
	display: none;
	position: absolute;
	left: 200px;
	top: 0px;
	margin: 0px;
	padding: 0px;
}

li {
	list-style-type: none;
	position: relative;
	width: 200px;
	background-color: #E0E0E0;
}

li:hover {
	background-color: red;
}

li:hover ul.niv2, li li:hover ul.niv3 {
	display: block;
}
